.agenda-wraper {
  padding: 10px 0px;
  background-color: #edf0f5;
}
.card-kegiatan {
  padding: 1px 0px;
  width: 80%;
  height: 30vh;
  border-radius: 5px;
  margin: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card-image-kegiatan {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 400px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card-content-kegiatan {
  padding: 1px 0px;
  background-color: white;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.card-kegiatan-judul-wraper {
  margin-top: 10px;
  padding-inline: 30px;
}
.card-kegiatan-judul-text {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #6a9fa7;
}
.card-kegiatan-sub-judul {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #999999;
}
.card-kegiatan-paragraph-judul {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #999999;
}
.card-kegiatan-span {
  color: #999999;
  padding-inline: 30px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.card-kegiatan-span:hover {
  color: #161616;
}
.gambar-kegiatan-agenda {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
